.footer {
    position: fixed;
    color: silver;
    bottom: 0px;
    width: 100%;
    background: #270214;
    border-width: 1px 0 0 0;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, silver, transparent) 1 0%;
    -moz-border-image: -moz-linear-gradient(right, silver, transparent) 1 0%;
    -o-border-image: -o-linear-gradient(right, silver, transparent) 1 0%;
    border-image: linear-gradient(to right, silver, transparent) 1 0%;
}